<h2> <%= @question.title %> </h2>

<div class="well">
  <p><%= @question.description %></p>
</div>

<% if user_owns_this_question? %>
  <%= link_to "edit", edit_question_path(@question)%>
  <%= link_to "delete", question_path(@question), method: "delete" %><br>
<% end %>

<%= render partial: "categories/index", locals: {categories: @categories, question: @question}%>
<%= render partial: "categories/new", locals: {category: @category, question: @question}%>

<%= render partial: "answers/new", locals: {answer: @answer, question: @question}%>
<h3>Answers</h3>
<%= render partial: "answers/index", locals: {answers: @answers} %>


<%= link_to "Back", questions_path %>
